body {
	padding: 0 20%;

}
@media(max-width: 728px;){
	body {
		  width: 150vw;
	}
}

#menu {
	display: flex;
	justify-content: center;
	background-color: #333;
  	overflow: auto;
  	white-space: nowrap;
  	width: 100%;
}
@media(max-width: 728px;)
	{
		#menu{
			background-color: #555;
		}
	}
	
a {
  	display: inline-block;
  	color: white;
  	text-align: center;
  	padding: 20px;
  	text-decoration: none;
}	

section{
	display: flex;
	text-align: center;
	flex-direction: column;
	padding: 20px;
}
.imgtimes{
	width: 58vw;
	height: 60vh;
}

.img1{
	padding: 0px 245px;
	width: 20vw;
	height: 35vh;
}

h1{
	font-size: 45px;
	font-family: 'Notable', sans-serif;
}
h2{
	font-size: 25px;
	font-family: 'Teko', sans-serif;
}
p{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.img2{
	width: 55vw;
	height: 45vh;
}

	
